.image-upload-container{
  border: 2px dashed #7366ff;
  height: 109px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #7366ff;
  font-size: 16px;
}

.MuiButton-outlined.MuiButton-outlinedPrimary{
  color: #7366ff;
  border-color: #7366ff;
  &:hover{
    color: #7366ff;
    border-color: #7366ff;
  }
}
.image-preview{
  background: #ffffff;
  z-index: 1;

  img{
    width: 187px;
    height: 100px;
  }
}